<!doctype html>
<html lang="en">

<head>
  <title>
    <%= title %>
  </title>
  <%- include('../temp/css'); %>
</head>

<body>
  <%- include('../temp/sidebar'); %>
    <div class="content">
      <%- include('../temp/navbar'); %>
        <%- include(layout); %>
    </div>
</body>
<%- include('../temp/main_js'); %>

</html>