<% if (userSession !==null && userSession !=='' ) { %>
  <div class="sidebar d-none d-md-block">
    <div class="sidebar-wripper">
      <div class="mt-3">
        <div class="text-center">
          <% const image=`images/profile/${userSession.profile_pic_url}` %>
            <img src=<%=image %>
            class="img-profile" alt="">
            <h5 class="fs-16 text-dark text-semibold mt-3 mb-0">
              <%= userSession.name %>
            </h5>
            <p class="text-grey fs-14">
              <%= userSession.campuss_name ?? '' %> (<%= userSession.year %>)
            </p>
            <a href="/edit-profile" class="btn btn-blue-dark btn-sm w-25"> Edit </a>
        </div>
      </div>
      <div class="description mt-5">
        <h6 class="fs-16 text-dark text-semibold mt-3">
          Deskripsi
        </h6>
        <p class="text-grey fs-14 line-16">
          <%= userSession.description %>
        </p>
      </div>
      <div class="mt-5">
        <div class="d-grid gap-2">
          <a href="/upload" class="btn btn-warning btn-lg mb-3"> <i class="fa fa-plus"></i> Upload Dokumen
          </a>
          <a href="/logout" class="btn btn-outline-blue btn-lg"> Logout </a>
        </div>

      </div>
    </div>
  </div>
  <% } else { %>
    <div class="sidebar d-none d-md-block">
      <div class="sidebar-wripper">

        <div class="mt-5">
          <div class="d-grid gap-2">
            <a href="/login" class="btn btn-blue-dark btn-lg mb-3"> Login
            </a>

          </div>

        </div>
      </div>
    </div>
    <% } %>